---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
---

<Layout title="Personal Portfolio">
	<main>
		<Header></Header>
		<Main></Main>
	</main>
</Layout>

<style>
	*, *::before, *::after {
		box-sizing: border-box;
	}
	main {	
		color: #ececec;
		font-size: 1.3rem;
		line-height: 1.6;
		max-width: 1000px;
		margin: 0 auto;
		padding: 0 40px;
	}
</style>
