---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Personal Portfolio">
	<main>
		<Header></Header>
	</main>
</Layout>

<style>
	main {
		margin: 0;
		color: white;
		font-size: 1.3rem;
		line-height: 1.6;
		margin: 0 18.25rem;
	}
</style>
